################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DI-Car/DI-Car/obj
/DI-Car/.vs/DI-Car
/DI-Car/DI-Car/bin/Debug/net7.0
/DI-Car/.vs/ProjectEvaluation
